body {
    background-color: #16F1FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='82.2' stroke-opacity='0.05' %3E%3Ccircle fill='%2316F1FF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2316e3f5' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231ad4ea' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231fc6de' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2324b8d3' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2329abc6' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232c9db9' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232f90ac' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2331839f' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23327691' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23316a83' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23305e75' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%232e5267' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232b4659' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23273b4c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2323313e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%231e2731' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23181D24' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

progress {
  width: 50%;
}

#my-progress {
    position: relative;
  }
  
  #my-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: rgb(125, 124, 124);

    border-style: solid;
    border-color: black;
    border-width: 1px;

  }


  .drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #D3D3D3;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    margin-top: 10px;
    margin-bottom: 20px;

  }
  
  .drop-container:hover {
    background: rgb(247, 247, 247);
    border-color: #ADD8E6;
  }
  
  .drop-container:hover .drop-title {
    color: #ADD8E6;
  }
  
  .drop-title {
    color: #D3D3D3;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }

  .select-voice {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.15em ;
    font-size: 1.00rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }


  :root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }



  